# 🟦 General service ports
VITE_APP_GATEWAY_PORT=8700
VITE_APP_USER_PORT=8701
VITE_APP_FILES_PORT=8702
VITE_APP_GAMECORE_PORT=8703
VITE_APP_PROFILE_PORT=8704
VITE_APP_RANKING_API_PORT=6999
VITE_APP_RANKING_WS_PORT=6998

# 🟨 Module script entrypoints
VITE_SERVICE_A_ENTRY=http://localhost:8700/assets/root.js
VITE_SERVICE_B_ENTRY=http://localhost:8701/assets/auth.js
VITE_SERVICE_C_ENTRY=http://localhost:8702/assets/directory.js
VITE_SERVICE_D_ENTRY=http://localhost:8703/assets/game.js
VITE_SERVICE_E_ENTRY=http://localhost:8704/assets/profile.js

# 🟩 Domains
VITE_SERVICE_A_ORIGIN=http://localhost:8700
VITE_SERVICE_B_ORIGIN=http://localhost:8701
VITE_SERVICE_C_ORIGIN=http://localhost:8702
VITE_SERVICE_D_ORIGIN=http://localhost:8703
VITE_SERVICE_E_ORIGIN=http://localhost:8704

# 🟥 Leaderboard endpoints
VITE_API_RANK_URL=http://localhost:6999
VITE_WS_RANK_URL=http://localhost:6998

# 🟪 External APIs
VITE_EXT_DATA_API=https://dummyjson.com

# 🟫 Cache
VITE_CACHE_HOSTNAME=localhost
VITE_CACHE_PORT=6379
